body{
	min-width: 1190px;
	height: 1350px;
	overflow:hidden;
	margin: 0;
	background-color: darkgrey;
	touch-action: none;
}
*{
	box-sizing: border-box;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

form{
	position: relative;
	width: 900px;
	margin: 30px auto 40px;
}
.search{
	display: block;
	width: 100%;
	line-height: 45px;
	padding-left: 40px;
	font-size: 2.4rem;
	color: rgba(0, 150, 136, 0.67);
	box-shadow: 5px 5px 10px grey;
	border-radius: 10px;
	border:none;
	transition: box-shadow .5s;
}
.search::-webkit-input-placeholder{
	font-size: 2.4rem;
	color: rgba(128, 128, 128, 0.63);
	text-transform: uppercase;
}
.search + label{
	position: absolute;
	right: 15px;
	top: 13px;
}
label::before{
	content: "";
	display: block;
	width: 11px;
	height: 11px;
	border: 3px solid rgba(128, 128, 128, 0.63);
	border-radius: 50%;
	transition: border-color .5s;
}
label::after{
	content: "";
	position: absolute;
	display: block;
	width: 8px;
	height: 3px;
	top: 15px;
	right: 13px;
	background-color: rgba(128, 128, 128, 0.63);
	transform: rotateZ(-45deg);
	transition: background-color .5s;
}
.search:focus{
	outline:none;
	box-shadow: 10px 10px 20px grey;
	border: solid 1px rgba(0, 150, 136, 0.67);
}
.search:focus + label::after{
	background-color: rgba(0, 150, 136, 0.67);
}
.search:focus + label::before{
	border-color: rgba(0, 150, 136, 0.67);
}
.search-button{
	display: none;
}

.wrapper-video{
	position: relative;
	width: 1192px;
	height: 405px;
	margin: 0 auto 40px;
	overflow: hidden;
}
.list-video{
	position: absolute;
	width: 10000000px;
	height: 100%;
	transition: transform .5s;
}
.content{
	position: relative;
	display: inline-block;
	width: 270px;
	vertical-align: top;
	margin-right: 32px;
	background-color: #fff;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 5px 5px 20px grey;
}
.content img{
	width: 100%;
	height: 160px;
	margin-bottom: 10px;
}
.info{
	position: relative;
	display: block;
	line-height: 28px;
	margin-bottom: 10px;
	padding: 0 25px 0 84px;
	font-size: 1.4rem;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info::before {
    content: "";
    position: absolute;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    left: 35px;
    font-weight: normal;
}
.name-video::before {
    content: "\f007";
}
.date-video::before {
    content: "\f073";
}
.views-video::before {
    content: "\f06e";
}
.views-video{
	margin-bottom: 25px;
}
.discription-video{
	position: relative;
	height: 90px;
	font-size: 1.4rem;
	padding: 0 10px;
	text-align: center;
}
.discription-video::before{
	content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.19);
    top: -14px;
    left: 50%;
    margin-left: -100px;
}
.link-video{
	position: absolute;
	display: block;
	top: 60px;
	width: 100%;
	line-height: 40px;
	padding: 0 15px;
	background-color: rgb(255, 255, 255);
	font-size: 2rem;
	text-align: center;
	color: #1565C0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: color .3s;
}
.link-video:hover{
	color: rgb(0, 150, 136);
}

.wrapper-pages{
	position: relative;
	width: 110px;
    height: 30px;
	margin: 0 auto;
	overflow: hidden;
}
.wrapper-pages ul{
	position: absolute;
	width: 10000000px;
}
.wrapper-pages li{
	display: inline-block;
	margin-right: 10px;
}
.page{
	display: block;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
    background-color: #03a9f4;
    color: #03a9f4;
    cursor: pointer;
    transition: background-color color .3s;
}
.active{
	color: rgb(0, 150, 136);
	background-color: #fff;
}
.page:not(.active):hover{
	background-color: #2196F3;
    color: #2196F3;
}
